/*
li.card {
    width:100px;
    height:50;
    padding:0.5em;
    background-color:red;
    border-color:black;
}*/

ul.card_desk {
    width:600px;
    height:600px;
    border-color:black;
    border-style:solid;
}

ul {
    width:230px;
    height:230px;
    border-style:solid;
}
ul.desk_space {
    float:right;
    border-color:green;
}

ul.hands {
    float:left;
    border-color:blue;
}

span.card {
}
