/*
li.card {
    width:100px;
    height:50;
    padding:0.5em;
    background-color:red;
    border-color:black;
}*/

ul.card_desk {
    width:900px;
    height:900px;
    border-color:black;
    border-style:solid;
    position:relative;
}

ul.hands {
    width:6000px;
    height:6000px;
    border-style:solid;
}
ul.desk_space {
    float:right;
    border-color:green;
}

ul.hands {
    float:left;
    border-color:blue;
}

li.card_drop{
    width: 96px;
    padding: 0.4em;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
    border: 1px solid #fff234;
    background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 50% 50% repeat-x;
    color: #222222;
}
li {
height:200px;
float:left;
}
span.card {
width:96px;
height:180px;
}
span.card h5 {
width:85%;
height:20px;
text-align:center;
font-size:10px;
margin:0 0 0 0;
}
span.card img {
width:72px;
height:96px;
margin:0 0 0 0;
}
span.card div{
height:25px;
}
span.card div a {
float:left;
font-size:10px;
width:20px;
height:20px;
}
