<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<title>Welcome to Magics</title>
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script>
        function hk(){
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function(){
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    document.getElementById("myDiv").innerHTML="value:{{game.value}};status:{{game.status}}";
                }
            }
            xmlhttp.open("GET","/dev/init/",true);
            xmlhttp.send();
        }

$(function(){
        var timestamp = $( '#time' ).attr('stamp');
        //var zl = new Date(parseInt(timestamp));
        $( '#time' ).html(Date(parseInt(timestamp)));
});
    </script>
</head>
<body>
    <p>{{info}}</p>
    {% for t in desk %}
    <a href="{%url dev:role role=t.0%}">{{t.0}}</a>
    <a href="{%url dev:role role=t.1%}">{{t.1}}</a>
    <a href="{%url dev:css-test %}">css-test</a>
    {% endfor %}
    <p><input type="button" value="init" onclick="hk()"></input><div id="myDiv">value:{{game.value}};status:{{game.status}}</div></p>
    {% for i in game.value %}
    <p>{{i.player}} {{i.action}} {{i.card}}</p>
    {% endfor %}
    <p id="time" stamp="1336381432854" tz="" fmt=""></p>
</body>
</html>
