<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Css Test</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.18.custom.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/dev/dev-test.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/dev/dev.css">
        <link type="image/x-icon" href="{{STATIC_URL}}favicon.ico" rel="shortcut icon">
        <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
	<style>
	</style>
	<script>
        var hk = '';
        $(function(){
            $( '#hands' ).sortable({
            tolerance:"pointer",
            out:function(event, ui) { 
                if (event.cancelable == false){
                    //console.log('real out!');
                    //from_hands_to_desk($( this ), $( ui.item[0] ));
                };
                //console.log(event.handleObj.origType + ' ' + event.cancelable);
                //console.log(event)
            },
            });

            //$( '#hands_2' ).sortable({
            //
            //});
            $( '#hands' ).droppable({
                tolerance:"pointer",
                out:function(event, ui){hk='out';/*console.log('out');*/},
                over:function(event, ui){hk='over';/*console.log('over');*/},
            })

            $( '.card_p' ).droppable();

            $( '.card' ).draggable({
            stop:function(event, ui){
                //console.log(event);
                //console.log(ui);
                //console.log(hk);
                /*
                if hk = out & card in hands:
                    do hands to desk
                elif hk=over & card in desk:
                    do desk to hands
                */
            },
            });

            //$( '.desk' ).droppable();

            $( '#hands' ).disableSelection();

            var card_in_desk = '<div id="card_num" class="card"><p>New one!</p></div>';
            function from_hands_to_desk(hands, card) {
                //card_in_desk = ''
                card.fadeOut(function () {
                    hands.find(card).fadeIn();
                    console.log(card_in_desk);
                    new_card = $(card_in_desk).attr('id', card.attr('id')).html(card.html());
                    $( '#desk_2' ).append(new_card);
                });
            };
        });
	</script>
</head>
<body>
<div id="desk_1" class="desk">
<div id="desk_2" class="desk">
<ul id="hands">
<li id="card_1" class="card_p ui-state-default"><span class="card">some_card1</span></li>
<li id="card_2" class="card_p ui-state-default"><span class="card">some_card2</span></li>
<li id="card_3" class="card_p ui-state-default"><span class="card">some_card3</span></li>
</ul>
</div>
</div>
</body>
</html>
